@page "/accounts"


<PageTitle>Social Media Planner Homepage</PageTitle>

<HeadContent>
    <meta name="description" content="This is test from index" />
</HeadContent>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Accounts</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row hello">
            <h1>Hello Accounts</h1>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@code {

}
