@using SocialMediaPlanner.Shared.Posts.Commands

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Additional info</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">

            <label for="files">Files</label>
            <InputFile id="files" OnChange="OnChangeInputFile" multiple class="form-control" />
        </div>
        <div class="row">
            <div class="col-12">
                <input type="button" value="Enter edit mode" class="btn btn-warning" @onclick="ToggleEditMode" />
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@code {
    private IReadOnlyList<IBrowserFile> files;

    [Parameter]
    public AddPostVM NewPost { get; set; }

    public bool EditMode { get; set; }

    [Parameter]
    public EventCallback<bool> OnEditModeChanged { get; set; }

    private void OnChangeInputFile(InputFileChangeEventArgs args)
    {
        files = args.GetMultipleFiles();
    }

    private async Task ToggleEditMode()
    {
        EditMode = !EditMode;
        StateHasChanged();
        await OnEditModeChanged.InvokeAsync(EditMode);
    }
}
